@charset "utf-8";
body {
  font-size: 6em;
  text-align: center;
}
.css-count{
  margin: 0;
  font-weight: bold;
  color: #888;
}
.css-wrap {
  margin-top: 20px;
  padding: 80px 40px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}
.css-typed{
  color: lightgreen
}
.untyped {
  background-color: red;
}
.mistyped {
  background-color: red;
}

